body{
    background-image: url("BUILDING.jpg.jpg");
}

h1{
    color: rgb(54, 9, 158);
}
.nav{
    display: flex;
    gap: 20px;
}
.nav a{
    border: 1px solid black;
    text-decoration: none;
    background-color:#3838f0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav a:hover{
     background-color: rgb(48, 48, 182);

}